.jumbotron {
    background: #757575;
    color: #FFF;
    border-radius: 0px;
}

.jumbotron-sm {
    padding-top: 0px;
    padding-bottom: 0px;
}

.jumbotron small {
    color: #FFF;
}

.h1 small {
    font-size: 24px;
}