<header class="header">
    <nav class="navbar navbar-expand-lg min-vw-98 navbar-light">
        <a [href]="'/'" class="navbar-brand logo">
            <img src="./assets/img/icons/logo.png" alt="logo">
            <span>JAS-shop</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active header-item-link">
                    <a [href]="'/layout/category/men'" class="mr-3">Hombre</a>
                </li>
                <li class="nav-item active header-item-link">
                    <a [href]="'/layout/category/woman'" class="mr-3">Mujer</a>
                </li>
                <li class="nav-item active header-item-link">
                    <a [href]="'/layout/category/child'" class="mr-3">Niños</a>
                </li>

                <li class="nav-item active header-item-link">
                    <a [href]="'/layout/promotion'" class="mr-3">Promociones</a>
                </li>
            </ul>
            <div class="header-item-link">
                <a [href]="'/layout/contactus'" class="mr-3">Contactanos</a>
            </div>

            <div class="loginBtn mr-3 header-item-link" *ngIf="!session.userLoggedIn else loggedIn">
                <a [href]="'/login'">Login</a>
            </div>

            <a [ngClass]="(shoppingCart.count == 0)? 'hidden' : ''" [href]="'layout/shoppingcart'" class="cartBtn">
                <img src="./assets/img/icons/shopping_cart_icon_small.png" alt="cart">
                <span class="cart-count"> {{ shoppingCart.count }} </span>
            </a>
            <ng-template #loggedIn>
                <div *ngIf="session.userLoggedIn"> {{ session.userLoggedIn }} </div>
                <a href="#" class="logout ml-1 mr-1"> <img (click)="logout()" src="./assets/img/icons/logout.png" alt="logOut"> </a>
            </ng-template>
        </div>
    </nav>
</header>
