
<div class="page-wrapper pb-3 pt-5">
  <div class="wrapper wrapper--w780">
    <div class="card card-3">
      <div class="card-heading">

      </div>
      <div class="card-body">
        <h2 class="title"> Registrate</h2>
        <form [formGroup]="" method="POST">
          <div class="input-group">
            <input type="text" class="input--style-3" type="text" placeholder="Email">
          </div>
          <div class="input-group">
            <input type="text" class="input--style-3" type="text" placeholder="Nombre">
          </div>
          <div class="input-group">
            <input type="text" class="input--style-3" type="text" placeholder="Contraseña">
          </div>
          <div class="pt-3">
            <button type="submit" class="btn btn-blue">Registarse</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
