<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login JAS-Sport</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Ruda" rel="stylesheet">
</head>

<body>
    <div class="login-box">
        <img class="avatar" src="assets/img/icons/logo.png" alt="Logo">
        <h1>Login</h1>
        <form novalidate [formGroup]="myForm">
            <!--Email-->
            <label for="userNombre">User</label>
            <input type="text" placeholder="User" formControlName="userNombre">
            <!--Password-->
            <label for="password">Password</label>
            <input type="password" placeholder="Enter Password" formControlName="userPassword">

            <div class="error error-msg mb-2">{{ error }}</div>

            <input type="submit" value="Log In" (click)="iniciarSession()">
            <a href="#">Recuperar contraseña</a><br>
            <a href="/signup">No tengo una cuenta</a>
        </form>
    </div>

</body>

</html>
