<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login JAS-Sport</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Ruda" rel="stylesheet">
</head>

<body>
    <div class="login-box">
        <img class="avatar" src="assets/img/icons/logo.png" alt="Logo">
        <h1>Login</h1>
        <form novalidate [formGroup]="myForm">
            <!--Email-->
            <label for="email">Email</label>
            <input type="text" placeholder="Enter Email" formControlName="email">
            <div *ngIf="myForm.controls['email'].invalid && (myForm.controls['email'].dirty || myForm.controls['email'].touched)" class="alert alert-danger">
                <div *ngIf="myForm.get('email').errors && myForm.get('email').dirty">
                    Email is required.
                </div>
            </div>
            <!--Password-->
            <label for="password">Password</label>
            <input type="password" placeholder="Enter Password" formControlName="password">

            <input type="submit" value="Log In">
            <a href="#">Recuperar contraseña</a><br>
            <a href="#">No tengo una cuenta</a>
        </form>
    </div>

</body>

</html>