<footer class="footer-distributed">
    <div class="footer-left">
        <h3>Jas-<span>Sport</span></h3>
        <p class="footer-links">
            <a href="#">Home</a> |
            <a href="#">Blog</a> |
            <a href="#">About</a> |
            <a href="#">Contact</a>
        </p>
        <p class="footer-company-name">© 2020 Developer J.A.S.</p>
    </div>

    <div class="footer-center">
        <div>
            <img src="./assets/img/icons/location.png" alt="" />
            <p>
                <span>
                  309 - Rupa Solitaire,
                  Bldg. No. A - 1, Sector - 1
              </span> Mahape, Navi Mumbai - 400710
            </p>
        </div>
        <div>
            <img src="./assets/img/icons/phone.png" alt="" />
            <p>+91 22-27782183</p>
        </div>
        <div>
            <img src="./assets/img/icons/email.png" alt="" />
            <p><a href="mailto:support@eduonix.com">support@eduonix.com</a></p>
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-company-about">
            <span>About the company</span> We offer training and skill building courses across Technology, Design, Management, Science and Humanities.
        </p>
        <div class="footer-icons">
            <a href="#"><img src="./assets/img/icons/facebook.png" alt="" /></a>
            <a href="#"><img src="./assets/img/icons/instagram.png" alt="" /></a>
            <a href="#"><img src="./assets/img/icons/twitter.png" alt="" /></a>
            <a href="#"><img src="./assets/img/icons/youtube.png" alt="" /></a>
            <a href="#"><img src="./assets/img/icons/linkenlid.png" alt="" /></a>
        </div>
    </div>
</footer>