<!------ Include the above in your HEAD tag ---------->


<section class="jumbotron text-center">
    <div class="container">

    </div>
</section>

<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Product</th>
                            <th scope="col" class="text-center">Cantidad</th>
                            <th scope="col" class="text-right">Precio Unidad</th>
                            <th scope="col" class="text-right">Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of listShoppingItems; index as i">
                            <td><img [src]="item.prodImageMain" alt="" height="70px" width="70px" /></td>
                            <td>{{ item.prodNombre }}</td>
                            <td>
                                <input size="2" (input)="updateProductQty(item, $event.target.value)" class=" form-control " type="text " [value]="item.prodQty " /></td>
                            <td class="text-right ">{{ item.prodPrecio | currency}}</td>
                            <td class="text-right ">{{ item.totalPrice | currency}}</td>
                            <td class="text-right "><button class="btn btn-sm btn-danger " (click)="removerItem(i) ">Eliminar</button>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="5" class="text-right">Total a pagar</td>
                            <td>{{shoppinCart.totalPrice | currency }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2 ">
            <div class="row ">
                <div class="col-sm-12 col-md-6 ">
                    <button class="btn btn-block btn-light ">Continue Shopping</button>
                </div>
                <div class="col-sm-12 col-md-6 text-right ">
                    <button class="btn btn-lg btn-block btn-success text-uppercase ">Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>
